body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  /* background-image: url(img/background1.jpg);
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten; */

  background-repeat: no-repeat;
  background-size: cover;
}
html {
  font-family: "Slabo 27px", "Open Sans", "Gloria Hallelujah", sans-serif;
}
h2 {
  color: #102997;
  font-size: 22px;
  display: inline-block;
  margin: 12px 70px;
  padding: 5px 20px;
}
.display {
  text-align: center;
}
.logo {
  display: flex;
  width: 350px;
  height: 100px;
  margin: 0 auto;
  border-bottom: 3px solid black;
  margin-top: 15px;
}
.welcome {
  width: 320px;
  height: 320px;
  display: block;
  margin: 0 auto;
  padding-bottom: 12px;
  margin-top: 25px;
  border-radius: 20%;
}
.how {
  display: inline-block;
  margin: 20px 10px;
  padding: 10px 12px;
  border: 2px solid blue;
  border-radius: 40%;
  position: relative;
  box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
  font-family: "Gloria Hallelujah";
}
.playContent {
  display: none;
  position: absolute;
  background: yellowgreen;
  min-width: 320px;
  padding: 7px 18px;
  z-index: 1;
  box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
.how:hover .playContent {
  display: block;
  font-family: "Gloria Hallelujah";

  border-radius: 20%;
}
.gameStart {
  font-size: 20px;
  display: flex;
  margin: 0 auto;
  padding: 12px 32px;
  border: 2px solid red;
  border-radius: 20%;
  margin-bottom: 15px;
  margin-top: 25px;
  box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
.gameStart:hover {
  background-color: red;
  color: #ffffff;
  border: none;
}
.play {
  font-size: 15px;
  color: #000000;
  display: flex;
  margin: 0 auto;
  border: 3px solid #fffb1b;
  margin-top: 15px;
  border-radius: 10%;
  padding: 10px 20px;
  background-color: #fffb1b;
}

.food {
  font-size: 15px;
  color: #ffffff;
  display: flex;
  margin: 0 auto;
  border: 2px solid red;
  margin-top: 15px;
  border-radius: 10%;
  padding: 10px 18px;
  background-color: rgb(252, 13, 13);
}
.lightToggleOff {
  font-size: 15px;
  color: #ffffff;
  display: flex;
  margin: 0 auto;
  border: 2px solid rgb(8, 189, 8);
  margin-top: 15px;
  border-radius: 10%;
  padding: 10px 18px;
  background-color: rgb(8, 189, 8);
}
.lightToggleOn {
  font-size: 15px;
  color: #ffffff;
  display: flex;
  margin: 0 auto;
  border: 2px solid rgb(3, 152, 238);
  margin-top: 15px;
  border-radius: 10%;
  padding: 10px 18px;
  background-color: rgb(3, 152, 238);
}
#time {
  display: flex;
  float: right;
  margin: 20px 40px;
}
#anime {
  width: 30px;
  height: 5px;
  margin: 12px 0;
  background: red;
  position: relative;
  animation: count 15s infinite;
  animation-timing-function: linear;
}

@keyframes count {
  from {
    left: 20px;
  }
  to {
    left: 1200px;
  }
}
